body
{
	background-color: rosybrown;
}

p
{
	background-color : seashell;
	font-family: monospace;
	font-size: 15px;
	color: black;
}
h1
{
	background-color: blanchedalmond;
	font-family: consolas;
	font-size: 40px;
	color: maroon;
	border-width: 10px;
}
h2
{
	background-color: blanchedalmond;
	font-family: monospace;
	font-size: 20px;
	color: maroon;
}