body
{
	background-color: rosybrown;
}

p
{
	background-color : seashell;
	font-family: monospace;
	font-size: 15px;
	color: black;
}
h1
{
	background-color: blanchedalmond;
	font-family: 'Space Mono', monospace;
	font-size: 45px;
	color: maroon;
}
h2
{
	background-color: midnightblue;
	font-family: monospace;
	font-size: 20px;
	color: white;
}

a:link, a:visited
	{
	background-color: none;
	color: maroon;
	text-allign: center;
	text-decoration: none;
	display: inline-block;
	padding: 5px;           
   	}

a:hover, a:active
	{
	background-color: lightslategray;
	color: white;          
   	}